<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opisi promena</title>
</head>
<body>
<!--/*@thymesVar id="opis" type="com.dex.model.OpisPromene"*/-->
<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            Naziv
        </th>
    </tr>

    <tr th:each="opis:${opisipromenalist}">
        <td th:text="${opis.id}"/>

        <td th:text="${opis.nazivOpisaPromene}"/>
    </tr>

</table>
</body>
</html>