<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Prijava</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<!--/*@thymesVar id="user" type="com.dex.model.User"*/-->

<div class="container-fluid" style="margin-top: 30vh;">
    <div class="col-md-4 col-md-offset-4">
        <form th:object="${user}" th:action="@{/logovanje/}" method="post">
        <div class="panel-group">
        <div class="panel panel-primary">

            <div class="panel-heading">
                <h1 class="panel-title">Login</h1>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>Korisničko ime:</label>
                        <input type="text" class="form-control" th:field="*{korisnickoIme}"/>
                    </div>

                    </div>


                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>Lozinka:</label>
                        <input type="text" class="form-control" th:field="*{lozinka}"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 form-group">
                        <button type="submit" class="btn btn-primary">Uloguj se</button>
                    </div>
                </div>

            </div>
            </div>
        </div>
        </div>
        </form>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/activemenuitem.js}"></script>
</body>
</html>